/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2016, 11:41:46 PM
    Author     : Habib Koe Tkj
*/
nav ul a,
nav .brand-logo {
          color: #444;
}

p {
          line-height: 2rem;
}

.button-collapse {
          color: #26a69a;
}

.parallax-container {
          min-height: 380px;
          line-height: 0;
          height: auto;
          color: rgba(255,255,255,.9);
}
.parallax-container .section {
          width: 100%;
}

@media only screen and (max-width : 992px) {
          .parallax-container .section {
                    position: absolute;
                    top: 20%;
          }
          #index-banner .section {
                    top: 10%;
          }
}

@media only screen and (max-width : 768px) {
          .parallax-container .section {
                    position: absolute;
                    top: 10%;
          }
          #index-banner .section {
                    top: 0;
          }
}

.icon-block {
          padding: 0 15px;
}
.icon-block .material-icons {
          font-size: inherit;
}

footer.page-footer {
          margin: 0;
}

.main{
          min-height: 400px
}
.out-top-10{
          margin-top: 10px;
}
.out-vertical-10{
          margin-top: 10px;
          margin-bottom: 10px;
}
.btn-home{
          height: 200px;
          width: 100%;
}
.tiny{
          font-size: 1rem;
}
.small{
          font-size: 2rem;
}
.medium{
          font-size: 4rem;
}
.large{
          margin-top: 40px;
          font-size: 90px !important;
}
.brand-logo img{
          margin-top: 7px;
          float: left;
          height: 50px;
}
.nav-breadcumd{
          padding-bottom: 7px !important;
          margin-top: 20px;
          font-weight: bold;
}
.nav-breadcumd a{
          color: #26a69a;
}
.info-white a{
          font-size: 16px !important;
          color: #fff !important;
}
.info-white a:hover{
          font-size: 16px !important;
          color: orange !important;
}

@media (max-width: 600px) {
          .brand-logo img{
                    margin-top: 10px;
                    float: left;
                    height: 35px;
          }
          .brand-logo{
                    font-size:20px !important; 
          }
          
}