/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2016, 11:41:46 PM
    Author     : Habib Koe Tkj
*/

body{
          background:#fff url('../img/bg.jpg') no-repeat;
          width: 100%;
          
}
.border{
          border: 1px solid #fff;
}
.out-top-150{
          margin-top: 50px;
}
.judul{
          font-size: 25px;
          text-align: center;
          color: #00796b;
}
.sub-judul{
          font-size: 15px;
          text-align: center;
          color: #00796b;
          margin-bottom: 30px;
}
.bg-transparent-white{
          background:  url('../img/bg-w.png') repeat;
}
.border-radius-3{
          border-radius: 3px;
}
.box{
          min-height: 500px;
}