/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2016, 11:41:46 PM
    Author     : Habib Koe Tkj
*/
.main{
          min-height: 400px
}
.out-top-10{
          margin-top: 10px;
}
.out-vertical-10{
          margin-top: 10px;
          margin-bottom: 10px;
}
.btn-home{
          height: 200px;
          width: 100%;
}
.tiny{
          font-size: 1rem;
}
.small{
          font-size: 2rem;
}
.medium{
          font-size: 4rem;
}
.large{
          margin-top: 40px;
          font-size: 90px !important;
}
.brand-logo img{
          margin-top: 7px;
          float: left;
          height: 50px;
}
.nav-breadcumd{
          padding-bottom: 7px !important;
          margin-top: 20px;
          font-weight: bold;
}
.nav-breadcumd a{
          color: #26a69a;
}

@media (max-width: 600px) {
          .brand-logo img{
                    margin-top: 10px;
                    float: left;
                    height: 35px;
          }
          .brand-logo{
                    font-size:20px !important; 
          }
          
}